<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.50.1" targetFramework="net452" />
  <package id="WebDriver.ChromeDriver" version="26.14.313457.1" targetFramework="net452" />
</packages>